<%- include('header') -%>

<h2>
    This is the about page.
</h2>
<p>
    jasbialD kjsdbisaniiulsyu uasd8kiVWGD UWBQDF ufbleq, eaekurgau Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, dicta excepturi. Ad voluptatum a doloribus, in nam illum incidunt laboriosam est nobis natus consequatur, itaque id vel officiis, blanditiis eum.
</p>

<%- include('footer') -%>